<div layout="column" ng-cloak>	
	<md-content>		  		
		<header role="banner">
			<div class="container">
				<div class="text-center">
					<img src="lib/met/images/csc-scc-col-en.svg" onerror="this.src='lib/met/images/csc-scc-col-en.png'" alt="Correctional Service Canada | Service correctionnel Canada" class="fip">
				</div>
			</div>
		</header>
		<div class="container" layout="column" id="splash">
			<div layout="row" layout-xs="column">
				<div flex layout="column">
					<h2 class="text-center md-display-1">Mental Health App</h2>
					<md-button class="md-primary md-raised primary-met-bg" ng-click="setCurrentLang('en')" href="#/open"><strong>English</strong></md-button>
					<md-button class="md-raised" href="#/terms-en">Terms and Conditions</md-button>
				</div>
				<div flex lang="fr" layout="column">
					<h2 class="text-center md-display-1">Mental Health App -FR</h2>
					<md-button class="md-primary md-raised primary-met-bg" ng-click="setCurrentLang('fr')" href="#/open"><strong>Français</strong></md-button>
					<md-button class="md-raised" href="#/terms-fr">Avis</md-button>
				</div>
			</div>
			<br class="clearfix" />
			<p class="text-center ver"><small>Version 1.0</small></p>
		</div>
	</md-content>	
</div>