<div ng-cloak>			
	<md-content class="md-padding">		  							
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{selectedTool.name}} (v {{selectedTool.version}})</span>
					<span class="md-subhead">Developed by {{selectedTool.developedBy}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>{{selectedTool.description1}}</p>

				<md-divider class="infoDivider"></md-divider>
				
				<div layout="row" layout-xs="column">
					<div flex>{{selectedTool.description1}}</div>
					<div flex>{{selectedTool.description2}}</div>
				</div>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end end">
				<md-button href="#/info" class="md-accent" aria-label="Add to Toolbox">Add to Toolkit</md-button>
				<md-button href="#/tools" class="md-accent" aria-label="More Details">Back</md-button>
			</md-card-actions>
		</md-card>
	</md-content>
</div>