<div layout="column" ng-cloak>
	<md-toolbar class="primary-met-bg" role="toolbar">			
		<div class="md-toolbar-tools">
			<h4 class="md-title">
				<img src="img/jesse_tiny.png" class="md-avatar" alt="Jesse">&nbsp;How are you feeling?
			</h4>
		</div>
	</md-toolbar>
			  		
	<md-content>		  					
		<div layout="row" layout-align="center start" layout-wrap>			
			<md-card ng-click="setMainStatus('Well');goTo('feeling_well')">
				<img src="img/well.png" class="md-card-image" alt="Well">
			    <md-card-actions layout="row" layout-align="center center">
					<md-button href="#/feeling_well" ng-click="setMainStatus('Well')" class="md-accent" aria-label="Well">Well</md-button>
			    </md-card-actions>
			</md-card>
			<md-card ng-click="setMainStatus('Not Well');goTo('feeling_not_well')">
				<img src="img/not_well.png" class="md-card-image" alt="Not Well">
			    <md-card-actions layout="row" layout-align="center center">
					<md-button href="#/feeling_not_well" ng-click="setMainStatus('Not Well')" class="md-accent" aria-label="Not Well">Not Well</md-button>
			    </md-card-actions>
			</md-card>
			<md-card ng-click="setYourStatus('Not Sure');setMainStatus('Not Sure');goTo('tier1')">
				<img src="img/not_sure.png" class="md-card-image" alt="Not Sure">
			    <md-card-actions layout="row" layout-align="center center">
					<md-button href="#/tier1" ng-click="setYourStatus('Not Sure');setMainStatus('Not Sure')" class="md-accent" aria-label="Not Sure">Not Sure</md-button>
			    </md-card-actions>
			</md-card>
		</div>
	</md-content>	
</div>