<div ng-cloak id="popupContainer">			
	<md-content>
		<md-list>
		<md-subheader class="md-no-sticky">DO YOU FREQUENTLY</md-subheader>
		<md-list-item>
		<p>Neglect your diet?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[0].yesno0"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Try to do everything yourself?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[1].yesno1"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Blow up easily?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[2].yesno2"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Seek unrealistic goals?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[3].yesno3"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Fail to see the humour in situations others find funny?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[4].yesno4"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Act rude?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[5].yesno5"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Make a &#8216;big deal&#8217; of everything?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[6].yesno6"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Look to other people to make things happen?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[7].yesno7"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Complain you are disorganized?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[8].yesno8"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Avoid people whose ideas are different from your own?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[9].yesno9"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Keep everything inside?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[10].yesno10"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Neglect exercise?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[11].yesno11"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Have few supportive relationships?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[12].yesno12"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Use sleeping pills and tranquilizers without a doctor&#8217;s approval?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[13].yesno13"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Get too little rest?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[14].yesno14"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Get angry when you are kept waiting?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[15].yesno15"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Ignore stress symptoms?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[16].yesno16"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Put things off until later?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[17].yesno17"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Think there is only one right way to do something?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[18].yesno18"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Fail to build relaxation time into your day?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[19].yesno19"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Gossip?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[20].yesno20"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Race through the day?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[21].yesno21"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Spend a lot of time complaining about the past?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[22].yesno22"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Fail to get a break from noise and crowds?</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[23].yesno23"></md-switch>
		</md-list-item>
		<md-list-item>
		<p>Have difficulty making decisions</p>
		<md-switch class="md-secondary" aria-label="test" ng-model="formData[24].yesno24"></md-switch>
		</md-list-item>
		</md-list>
		
		<md-button aria-label="submit" ng-click="tally($event, 'en')" class="md-raised md-primary">What's My Score?</md-button>
	</md-content>
</div>