<div ng-cloak>		
<md-content class="md-padding">	
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"><img src="img/jesse_tiny.png" class="md-avatar" alt="Jesse">&nbsp;Tell me why you are feeling this way?</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content> 
		<md-input-container class="md-block">
			<textarea md-select-on-focus aria-label="tellMe" ng-model="tellMe" rows="3"></textarea>
		</md-input-container>
    </md-card-content>
  </md-card>
  
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"><img src="img/jesse_tiny.png" class="md-avatar" alt="Jesse">&nbsp;How are you coping with your feelings?</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content> 
		<md-input-container class="md-block">
        	<textarea md-select-on-focus aria-label="howAre" ng-model="howAre" rows="3"></textarea>
        </md-input-container>
    </md-card-content>
    <md-card-actions layout="column">
		<md-button class="md-primary md-raised" ng-click="saveToLog()" href="#/log">Save&nbsp;<ng-md-icon icon="navigate_next" style="fill: white"></ng-md-icon></md-button>
    </md-card-actions>
  </md-card>
  </md-content>
</div>