<div ng-cloak>			
	<md-content>		  					
	    <md-card>
			<md-card-content>
		    	<p>We all talk about stress, but we're not always clear about what it is. Stress comes from both the good and the bad things that happen to us. If we didn't feel any stress, we wouldn't be alive! Stress may feel overwhelming at times, but there are many strategies to help you take control.</p>
		    </md-card-content>
	    </md-card>
	    
	    <md-card>
	    	<md-card-title>
          		<md-card-title-text>
          			<span class="md-headline">What is stress?</span>
          		</md-card-title-text>
          	</md-card-title>
			<md-card-content>
		    	<p>Stress is the body's response to a real or perceived threat. That response is meant to get people ready for some kind of action to get them out of danger. But most of the threats people face today aren't something that they can fight or run away from. These threats are usually problems that people have to work through.</p>
				<p>Some stress can be a good thing. It can motivate us to focus on a task or take action and solve a problem. In this situation, stress is manageable and even helpful.</p>
		    </md-card-content>
	    </md-card>
	    
	   	<md-card>
	    	<md-card-title>
          		<md-card-title-text>
          			<span class="md-headline">What can I do about it?</span>
          		</md-card-title-text>
          	</md-card-title>
			<md-card-content>
		    	<p>Taking action is the first step. Ignoring the effects of stress can lead to other mental health problems.</p>
				<p>There is no one right way to deal with stress. The tips below are common strategies that are helpful for many people. Try them out and see what works best for you. Remember to look at both short-term and long-term solutions when you're dealing with stress.</p>
		    </md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="showListBottomSheet()" class="md-accent" aria-label="how to deal with stress">
					<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
					How to deal with stress
				</md-button>
				<md-button href="#/stressIndex" class="md-accent" aria-label="stress index test">
					<ng-md-icon icon="playlist_add_check" style="fill: #335075"></ng-md-icon>
					Stress Index Test
				</md-button>
			</md-card-actions>
	    </md-card>
	    
	   	<md-card>
	    	<md-card-title>
          		<md-card-title-text>
          			<span class="md-headline">Can I prevent stress?</span>
          		</md-card-title-text>
          	</md-card-title>
			<md-card-content>
		    	<p>Stress is part of being human-no one can eliminate all stress from their life or prevent stress from ever happening in the future. The goal of stress management is to bounce back from problems or challenges and maintain wellness. All of the above strategies can help you take control of stress so it doesn't control you in the future. Remember to practice them often, even when you're not feeling stressed. That way, you'll know exactly what works for you. It's also much easier to deal with difficulties when you're in control and know that you can deal with whatever comes up.</p>
		    </md-card-content>
	    </md-card>
	</md-content>
</div>