<div ng-cloak>			
	<md-content class="md-padding">	
		<md-card ng-repeat="tool in tools">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{tool.name}}</span>
					<span class="md-subhead">Developed by {{tool.developedBy}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>{{tool.briefDescription}}</p>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end end">				
				<md-button ng-click="addTool(tool.id)" class="md-accent" aria-label="Add to Toolbox">Add to Toolkit</md-button>
				<md-button ng-click="assignToolID(tool.id)" class="md-accent" aria-label="More Details">More Details</md-button>
			</md-card-actions>
		</md-card>
	</md-content>
</div>
