<md-bottom-sheet class="md-list md-has-header">
  <md-subheader ng-cloak>How to deal with anger</md-subheader>
  <md-list ng-cloak>
    <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Immediate strategies</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Short-term strategies</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Longer-term solutions</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>