<md-bottom-sheet class="md-list md-has-header">
  <md-subheader ng-cloak>How to deal with stress</md-subheader>
  <md-list ng-cloak>
    <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Identify the problem</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Solve problems as they come up</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Talk about your problems</span>
      </md-button>
    </md-list-item>
        <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Simplify your life</span>
      </md-button>
    </md-list-item>
        <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Learn helpful thinking strategies</span>
      </md-button>
    </md-list-item>
        <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Learn about stress management</span>
      </md-button>
    </md-list-item>
        <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Start on the inside</span>
      </md-button>
    </md-list-item>
            <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Get active</span>
      </md-button>
    </md-list-item>
                <md-list-item>
      <md-button class="md-list-item-content">
      	<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
        <span class="md-inline-list-icon-label">Do something you enjoy</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>