<div ng-cloak>			
	<md-content>		  					
	    <md-card>
			<md-card-content>
		    	<p>We all feel angry sometimes. Most of the time, we can deal with feelings of anger or irritability quickly. We may resolve the situation or look at the problem from a different perspective. However, anger can cause problems in our lives and the lives of those around us. Learn more about recognizing problem anger and taking action.</p>
		    </md-card-content>
	    </md-card>
	    
	    <md-card>
	    	<md-card-title>
          		<md-card-title-text>
          			<span class="md-headline">What is anger?</span>
          		</md-card-title-text>
          	</md-card-title>
			<md-card-content>
		    	<p>Anger is an emotion that tells us when something may be wrong. For example, we may feel angry when something is beyond our control or feels unfair, when we can't reach a goal, or when someone is hurt or threatened. We can also feel angry when we are under too much stress. Anger can involve a wide range of feelings. We may be a little annoyed over a minor incident, like being stuck in traffic or missing our bus. More serious problems, like getting hurt or seeing someone else get hurt, may cause strong feelings like rage. Sometimes, we just feel angry for no reason.</p>
		    </md-card-content>
	    </md-card>
	    
	   	<md-card>
	    	<md-card-title>
          		<md-card-title-text>
          			<span class="md-headline">What can I do about it?</span>
          		</md-card-title-text>
          	</md-card-title>
			<md-card-content>
		    	<p>Anger is a normal reaction to some situations. Anger can also be helpful when it matches the situation and motivates people to take action or work towards a goal. However, anger that's dealt with in unhealthy ways can create problems and affect your well-being. Fortunately, there are some things you can do to deal with your anger.</p>
		    </md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="showListBottomSheet()" class="md-accent" aria-label="how to deal with anger">
					<ng-md-icon icon="info" style="fill: #335075"></ng-md-icon>
					How to deal with anger
				</md-button>
			</md-card-actions>
	    </md-card>
	</md-content>
</div>